{% extends 'base.html.twig' %}

{% block title %}Edit MyOption{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit MyOption</h1>

        {{ include('admin/my_option/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('my_option_index') }}">back to list</a>

        {{ include('admin/my_option/_delete_form.html.twig') }}
    </div>
{% endblock %}
